/* Base del diseño */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  background-color: #f4f4f4;
  margin: 3px;
  font-family: Arial, sans-serif;
}

.calculadora {
  width: 100%;
  max-width: 800px;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pantalla {
  background-color: #222;
  color: #fff;
  font-size: 1.8em;
  padding: 15px;
  text-align: right;
  border-bottom: 2px solid #333;
  border-radius: 10px 10px 0 0;
  height: 35px; /* Altura reducida para asegurar que las esquinas redondeadas se vean */
  overflow-x: auto;
  white-space: nowrap;
}

.botonera {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

/* Estilos de los botones */
button {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.operator {
  background-color: #ff9500;
}

button.clear {
  background-color: #d9534f;
}

button.equals {
  background-color: #5cb85c;
}

button:hover {
  background-color: #555;
}

button.backspace {
  background-color: #ffcc00;
}

button.asin,
button.acos,
button.atan,
button.sin,
button.cos,
button.tan {
  background-color: #007bff;
}

button.modeToggle {
  background-color: #6c757d;
  color: #fff;
  font-weight: bold;
}

button.scientific {
  display: none;
}

.modo-cientifico button.scientific {
  display: block;
}

/* Responsividad para pantallas medianas */
@media (max-width: 768px) {
  .calculadora {
    width: 90%;
    max-width: 500px;
  }

  .pantalla {
    font-size: 1.5em;
    padding: 10px;
    height: 45px; /* Ajustar altura en pantallas medianas */
  }

  button {
    font-size: 1.2em;
    padding: 15px;
  }

  .botonera {
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 480px) {
  .calculadora {
    width: 95%;
  }

  .pantalla {
    font-size: 1.3em;
    padding: 8px;
    height: 40px; /* Reducir altura en pantallas pequeñas */
  }

  .botonera {
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }

  button {
    font-size: 1em;
    padding: 10px;
  }
}
